.ender{
    /* text-align: center; */
     display: flex;
    justify-content: center;
    align-items: center; 
} 
.btn{
    color: rgb(0, 0, 0);
    background-color: var(--main-bg-color);
    border:2px solid black;
    border-radius: 10px ;
    cursor: pointer;
    padding: 5px 10px;
}